@use "../../styles/colors";
@use "../../styles/variables";

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;

  &--1{
    background-color: colors.$c-button-1-bg;
    color: colors.$c-button-1-cta;
    border: colors.$c-button-1-border;
    height: 6rem;
    font-size: variables.$f-size-1;
    width: variables.$button-1-width;
    transition: background-color .7s;

    &:hover{
      background-color: colors.$c-button-1-bg-hover;
    }
  }

  &--2{
    background-color: colors.$c-button-2-bg;
    color: colors.$c-button-2-cta;
    border: colors.$c-button-2-border;
  }

  &--3{
    background-color: colors.$c-button-3-bg;
    color: colors.$c-button-3-cta;
    border: colors.$c-button-3-border;
  }
}