@use 'colors';

$f-family-1: 'Poppins', Arial, Helvetica, sans-serif;
$f-family-2: 'Inter', 'Poppins', Arial, Helvetica, sans-serif;

$f-size-1: 1.6rem;
$f-size-2: 1.4rem;

$button-1-size: $f-size-1;
$button-1-width: 18.9rem;