@use 'variables';

html{
  font-size: 62.5%;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  line-height: 1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a, button{
  cursor: pointer
}

p, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


body{
  font-family: variables.$family-1;
}

h1, h2{
  font-weight: 700;
  color: variables.$titles-1;
}

h3, h4, h5, p{
  font-weight: 400;
  color: variables.$subtitles;
}

h1, h2, p{
  font-family: variables.$family-1;
}

h3, h4, h5{
  font-family: variables.$family-2;
}

h1{
  font-size: 2.5rem; 
}

h2{
  font-size: 2.5rem; 
}

p{
  font-size: 1.6rem; 
}

h3{
  font-size: 2.5rem; 
}

h4{
  font-size: 2rem; 
}

h5{
  font-size: 1.5rem; 
}




