@use '../../../styles/colors';
@use '../../../styles/variables';

.nav{
  &__list{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 30.9rem;
  }

  &__item{
    display: flex;
  }

  &__link{
    color: colors.$c-links-1;
    font-size: 1.6rem;
    transition: color .7s;
    letter-spacing: 0.05rem;

    &:hover{
      color: colors.$c-links-2;
    }
  }
}