@use '../../../styles/colors';
@use '../../../styles/variables';

.nav{
  &__list{
    display: flex;
  }

  &__item{
    display: flex;
  }

  &__link{
    font-size: 1.6rem;
    color: colors.$c-links-1;
  }
}